body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #011d39;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration:none 
}

section {
    padding: 2rem;
}

.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.photos img:hover {
    transform: scale(1.1);
}


footer {
    text-align: center;
    padding: 1rem 0;
    background: #011d39;
    color: #fff;
    position: relative;
    width: 100%;
}

.social-media a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

